option_settings:
  aws:elasticbeanstalk:application:environment:
    DATABASE: mongodb+srv://giangnguyeen1910:rW1T7Gpz2xF08Hvo@cluster0.noxfii5.mongodb.net/recruitment-website
    JWT_SECRET: GIANGDEPTRAI
    NODE_ENV: production
    CLOUDINARY_NAME: dtpxp9qqf
    CLOUDINARY_API_KEY: 947779669944431
    CLOUDINARY_API_SECRET: Y_ToDmX3mk_SF-mOdtxkohPph04
    ALLOWED_ORIGINS: https://RecruitonProduction-frontend-env.ap-southeast-2.elasticbeanstalk.com,http://localhost:3000
